body{
  background-image:linear-gradient(to top, rgb(234, 234, 171),rgb(239, 239, 189), rgb(251, 249, 249));
  background-size: cover;
  background-attachment: fixed;
}

.footer{
  margin:auto;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
}